<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/node_modules/angular/angular.min.js"></script>
    @RenderSection("scripts_head", required: false)

    <style type="text/css">
        body {
            background-image: url('../../assets/backgrounds/concrete-texture.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .smallimg {
            animation: .6s rotateRight infinite linear;
        }

        @@keyframes rotateRight {
            0% {
                transform: rotate(0deg);
                transform-origin: 50% 50%;
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">             
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>              
                @Html.ActionLink("W3L0V3K3V1N", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Collage", "Collage", "Home")</li>
                </ul>
                <img class="smallimg" style="max-height:50px; max-width:50px;float:right" src="~/assets/images/kevinhead.png" />              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Richard O'Callaghan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
